.post-container {
  display: flex;
  align-items: center;
}

.post-content {
  flex: 1;
}

.post-actions {
  display: flex;
  align-items: center;
}

.comment-container {
  display: flex;
  align-items: center;
}

.comment-content {
  flex: 1;
}

.comment-actions {
  display: flex;
  align-items: center;
}

.upvote {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.upvote i {
  margin-right: 5px;
}

#question {
  height: calc(3 * 1.5em);
}
